.dateBrief__mainTime {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  box-sizing: border-box;
}
/* dateBrief__header */
.dateBrief__header {
  color: var(--header-color);
  display: flex;
  font-family: IRANSansBold;
  line-height: 1;
  font-size: 14px;
  width: 100%;
  order: 1;
}
.dateBrief__left,
.dateBrief__right {
  min-height: 93px;
}
.dateBrief__left {
  background-color: var(--header-bg-color);
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.dateBrief__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}
.dateBrief__head {
  border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
  padding: 10px 10px;
  color: var(--text-light-level-2);
}
/* .dateBrief__sub {
} */
.dateBrief__right {
  background-color: var(--header-right-bg-color);
  color: var(--header-right-color);
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* dateBrief__Azan */
.dateBrief__Azan {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}
.dateBrief__AzanTitle {
  color: var(--primary);
  border-bottom: solid 1px var(--text-light-level-3);
  height: 50px;
}
.dateBrief__AzanSelectContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
}
.dateBrief__AzanSelect {
  width: 50%;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
}
.dateBrief__sunsetTime {
  color: var(--text-light-level-3);
  font-family: IRANSansLight;
}
/* dateBrief__Clock */
.dateBrief__Azan,
.dateBrief__Clock {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  color: var(--text);
}
.dateBrief__Clock {
  order: 3;
}
/* dateBrief__dayQuote */
.dateBrief__dayQuote {
  position: relative;
  padding: 50px 20px;
}
.dateBrief__dayQuote::before {
  content: "\e851";
  font-family: "Glyphicons Halflings";
  font-size: 63px;
  color: var(--text-quote-bg-color);
  position: absolute;
  right: 17px;
  top: 30px;
}
.dateBrief__dayQuoteText {
  color: var(--text);
  font-size: 15px;
  direction: rtl;
  padding-right: 80px;
}
.dateBrief__dayQuoteAuthor {
  color: var(--text-quote-author-color);
  text-decoration: none;
  cursor: pointer;
}
/* dateBrief__mainDate */
.dateBrief__mainDate {
  display: flex;
  background-color: var(--mainDate-bg-color);
  border-top: solid 1px var(--bg-level-3);
  flex-wrap: wrap;
  padding: 10px;
}
.dateBrief__dateInfo,
.dateBrief__date {
  padding: 20px 30px;
  box-sizing: border-box;
}
.dateBrief__dateInfo {
  width: 55%;
}
.dateBrief__date {
  width: 45%;
}
.dateBrief__dateInfo h1 {
  direction: rtl;
  color: var(--primary);
  border-bottom: solid 1px var(--text-light-level-4);
  padding: 10px 0;
  font-size: 2rem;
  margin: 10px 0;
}
.dateBrief__dateInfoItems {
  direction: rtl;
  font-size: 14px;
}
@media (max-width: 991px) {
  .dateBrief__info:nth-of-type(1),
  .dateBrief__info:nth-of-type(2) {
    width: 50%;
  }

  .dateBrief__info:nth-of-type(3),
  .dateBrief__info:nth-of-type(4) {
    width: 50%;
  }
  .dateBrief__header {
    order: 2;
  }
  .dateBrief__Azan {
    order: 3;
    width: 100%;
  }
  .dateBrief__Clock {
    order: 1;
    width: 100%;
  }
  .dateBrief__dateInfo,
  .dateBrief__date {
    width: 100%;
  }
  .dateBrief__date {
    order: 1;
  }
  .dateBrief__dateInfo {
    order: 2;
  }
}
@media (max-width: 767px) {
  .dateBrief__header .dateBrief__info {
    width: 100%;
    border-bottom: solid #eee 1px;
    padding: 10px 0;
  }
  .dateBrief__head {
    border: none;
  }
  .dateBrief__right {
    display: none;
  }
  .dateBrief__left {
    width: 100%;
    padding: 0;
  }
  .dateBrief__AzanSelect {
    width: 100%;
  }
  .dateBrief__dayQuote::before {
    display: none;
  }
  .dateBrief__dayQuoteText {
    padding-right: 0px;
  }
  .dateBrief__mainDate {
    padding: 0;
  }
  .dateBrief__date {
    padding: 0;
  }
}
