.ephemeris .ephemerisAzanMorning:before {
  content: "";
}
.ephemeris .ephemerisAzanSunrise:before {
  content: "";
}
.ephemeris .ephemerisAzanMoon:before {
  content: "";
}
.ephemeris .ephemerisAzanSunset:before {
  content: "";
}
.ephemeris .ephemerisAzanNight:before {
  content: "";
}
.ephemeris .ephemerisMidNight:before {
  content: "";
}
.azanInfo i:last-of-type {
  color: var(--primary);
  padding: 10px;
  padding-right: 0;
  font-size: 30px;
}
.azanInfo {
  color: var(--text);
  font-family: IRANSansBold;
  font-size: 14px;
  text-align: right;
}

@media (max-width: 767px) {
  .dateBrief__AzanTitle {
    font-size: 16px;
    height: fit-content;
    border: none;
  }
}
