.dateBox {
  width: 100%;
  padding: 30px 10px 10px;
  background-color: var(--bg-level-2);
  box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
  box-sizing: border-box;
}

.dateBox__dateOptionSolarMonth:after,
.dateBox__dateOptionSolarYear:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  font-family: "Glyphicons Halflings";
  font-size: 16px;
}
.dateBox__dateOptionSolar {
  color: var(--primary);
  display: flex;
  font-weight: bold !important;
  display: flex;
  gap: 10px;
  font-size: 20px;
}

.dateBox__head {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.dateBox__nextMonth,
.dateBox__pervMonth {
  cursor: pointer;
}
.dateBox__nextMonth i,
.dateBox__pervMonth i {
  color: var(--danger);
}
.dateBox__dateOption {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dateBox__dateOptionSolarYear,
.dateBox__dateOptionSolarMonth {
  cursor: pointer;
}
.dateBox__dateOptionSolarYear::before,
.dateBox__dateOptionSolarMonth::after {
  padding: 0 10px;
}
.dateBox__lunar {
  direction: rtl;
}
.dateBox__body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 60%;
  padding: 10px 0;
}
.dateBox__weekDays {
  display: flex;
  background: var(--text);
  color: var(--text-light);
  border-radius: 5px;
  direction: rtl;
}
.dateBox__weekDay {
  flex: 1;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.dateBox_dateNumbers {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  direction: rtl;
}
.dateBox__day {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}
.dateBox__day > span {
  width: 50%;
}
.dateBox__day > span:first-of-type {
  font-size: 22px;
  width: 100%;
  font-weight: bold;
}
.dataBox__holiDay {
  color: var(--danger);
}
.dataBox__dayActive {
  border: solid 4px var(--primary);
  box-sizing: border-box;
}
.dataBox__dayDisabled {
  opacity: 0.4;
}
.dateBox__goToday {
  font-size: 20px;
}

.dateBox___yearOption {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  height: 20vh;
  max-height: 300px;
}
.dateBox___yearOption > input {
  height: 40px;
  border-radius: 4px 0 0 4px;
  border: 2px solid var(--primary);
  box-sizing: border-box;
  max-width: 170px;
  width: 50%;
}
.dateBox___yearOption > input:focus {
  border: 1px solid var(--primary);
  outline: 1px solid var(--primary);
  box-shadow: inset 0 1px 1px var(--primary), 0 0 8px var(--primary);
}
.dateBox___yearOption > button {
  background: var(--primary);
  color: var(--text-light);
  border: none;
  outline: none;
  font-family: "IRANSansLight";
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  cursor: pointer;
}
.dateBox__dateOptionModal {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--bg-level-2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.dateBox___monthOption {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.dateBox___monthOption > button {
  border: none;
  outline: none;
  font-family: "IRANSansLight";
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.dateBox___monthOption > button:hover {
  background-color: var(--bg-level-3);
}
@media (max-width: 767px) {
  .dateBox__nextMonth span,
  .dateBox__pervMonth span {
    display: none;
  }
  .dateBox {
    padding: 10px;
  }
}
